<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <title>Add User</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<header th:replace="fragments/fragment :: navbar('Home')"></header>
<br><br>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-1 order-2 order-lg-2 d-flex flex-column justify-content-center">
                <h2 style="margin-left: 45%" th:text=" 'Sorry, ' + ${#httpServletRequest.remoteUser} + '!'"></h2>
                <h2 style="margin-left: 45%" >There is Internal Server Error</h2>
            </div>
            <div class="col-lg-5 order-2 order-lg-1 hero-img">
                <img src="https://i.ibb.co/sPXzbQW/greeting.png" style="margin-left:-15%;max-width: 250%;" class="img-fluid animated"  alt="greeting" border="0">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


<!-- Vendor JS Files -->


</body>

</html>