<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Ubah Lowongan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Ubah Lowongan</div>
                <div class="card-body">
                    <h4 th:text="${pesan}"></h4>
                    <form th:action="@{/lowongan/ubahLowongan}" th:object="${lowongan}" method="POST">
                        <label>Id Lowongan</label>
                        <input type="text" name="id_lowongan" th:value="${lowongan.id_lowongan}" class="form-control" disabled/>
                        <input type="hidden" name="id_lowongan" th:value="${lowongan.id_lowongan}" class="form-control"/>
                        <br>
                        <label>Kode Lowongan</label>
                        <input type="text" name="kodeLowongan" th:value="${lowongan.kodeLowongan}" class="form-control" disabled/>
                        <input type="hidden" name="kodeLowongan" th:value="${lowongan.kodeLowongan}" class="form-control"/>
                        <br>
                        <label>Divisi</label>
                        <input th:if="${listLamaran.size() > 0}" type="text" name="divisi" th:value="${lowongan.divisi}" class="form-control" disabled/>
                        <input th:if="${listLamaran.size() > 0}" type="hidden" name="divisi" th:value="${lowongan.divisi}" class="form-control"/>
                        <input th:unless="${listLamaran.size() > 0}" type="text" name="divisi" th:value="${lowongan.divisi}" class="form-control"/>
                        <br>
                        <label>Posisi</label>
                        <input th:if="${listLamaran.size() > 0}" type="text" name="posisi" th:value="${lowongan.posisi}" class="form-control" disabled/>
                        <input th:if="${listLamaran.size() > 0}" type="hidden" name="posisi" th:value="${lowongan.posisi}" class="form-control"/>
                        <input th:unless="${listLamaran.size() > 0}" type="text" name="posisi" th:value="${lowongan.posisi}" class="form-control"/>
                        <br>
                        <label>Jenis Lowongan</label>
                        <div th:if="${listLamaran.size() > 0}">
                            <select class="form-control" name="jenisLowongan" disabled/>
                                <option th:value="${lowongan.jenisLowongan}"
                                        th:text="${lowongan.jenisLowongan.nama}">
                                </option>
                            </select>
                        </div>
                        <div th:if="${listLamaran.size() > 0}">
                            <input type="hidden" name="jenisLowongan" th:value="${lowongan.jenisLowongan.id}" class="form-control"/>
                        </div>
                        <div th:unless="${listLamaran.size() > 0}">
                            <select class="form-control" name="jenisLowongan"/>
                                <option th:each="jl, iStat : ${listJenisLowongan}"
                                        th:value="${jl.id}"
                                        th:text="${jl.nama}">
                                </option>
                            </select>
                        </div>
                        <br>
                        <label>Jumlah</label>
                        <input type="text" name="jumlah" class="form-control">
                        <br>
                        <label>Username</label>
                        <input type="text" th:value="${lowongan.getUser().getUsername()}" class="form-control" disabled/>
                        <input type="hidden" th:field="${lowongan.user.id}" class="form-control"/>
                        <br>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>