<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<header th:replace="fragments/fragment :: navbar('Home')"></header>
<br><br><br><br><br>

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-md-10">
                        <h2 th:text=" 'Halo, ' + ${#httpServletRequest.remoteUser} + '!'" style="color: #FFC400"></h2>
                        <h1>Ini Profil Anda</h1>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-1 order-lg-2">
                <div class="card">
                    <div class="card-header">Profile</div>

                    <div class="card-body">
                        <div class="row">
                            <div th:text="'Username'" class="col"></div>
                            <div th:text="': ' + ${username}" class="col"></div>
                        </div>
                        <div class="row" th:if="${isTrue}">
                            <div th:text="'Nama'" class="col"></div>
                            <div th:text="': ' + ${pegawai.nama}" class="col"></div>
                        </div>
                        <div class="row" th:if="${isTrue}">
                            <div th:text="'Nomor Telepon'" class="col"></div>
                            <div th:text="': ' + ${pegawai.noTelepon}" class="col"></div>
                        </div>
                        <div class="row" th:if="${isTrue}">
                            <div th:text="'Tempat Lahir'" class="col"></div>
                            <div th:text="': ' + ${pegawai.tempatLahir}" class="col"></div>
                        </div>
                        <div class="row" th:if="${isTrue}">
                            <div th:text="'Tanggal Lahir'" class="col"></div>
                            <div th:text="': ' + ${#dates.format(pegawai.tanggalLahir, 'dd/MM/yyyy HH:mm')}" class="col"></div>
                        </div>
                        <div class="row" th:if="${isTrue}">
                            <div th:text="'Alamat'" class="col"></div>
                            <div th:text="': ' + ${pegawai.alamat}" class="col"></div>
                        </div>
                        <div class="row">
                            <div th:text="'Role'" class="col"></div>
                            <div th:text="': ' + ${role}" class="col"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>
</body>

</html>